@model WebStore.Models.CartModel
@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>

<table>
    <thead>
        <tr>
            <td>Product</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        @for(var i=0; i<Model.Products.Length; i++)
        {
            <tr>
                <td>@Html.DisplayFor(x => x.Products[i].Name)</td>
                <td>@Html.DisplayFor(x => x.Products[i].Quantity)</td>
                <td>@Html.EditorFor(x => x.Products[i].Quantity)</td>
                <td>@Html.DisplayFor(x => x.Products[i].LineTotal)</td>
            </tr>
        }
        <tr>
            <td>@Html.LabelFor(m => m.Subtotal)</td>
            <td>@Html.DisplayFor(m => m.Subtotal)</td>
        </tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary" value="Checkout">Checkout</button>
