@model WebStore.Models.ProductModel 

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 product-item">
            <img src="~/Images/@Model.Image" alt="@Model.Name" class="img-rounded"/>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2 class="fancy-name">@Model.Name</h2>
            <p>@Model.Description</p>
            <h3>@Model.Price.ToString("c")</h3>
            @using(Html.BeginForm())
            {
                @Html.HiddenFor(m => m.Description)
                @Html.HiddenFor(m => m.Name)
                @Html.HiddenFor(m => m.Price)
                <fieldset>
                    <div class="form-group">
                    @Html.LabelFor(m => m.Quantity)
                    @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control"}) 
                    </div>
                </fieldset>
                <input type="submit" class="btn btn-primary" value="Add To Cart"/>
            }
        </div>
    </div>   
</div>